/* STATISTICS.PHP */
.stats-container {
	position: relative;
	padding-bottom: 30px;
}

.stats-title {
	padding: 10px 0;
	border-bottom: solid 1px #bababa;
	font-weight: bold;
	color: #1a1a1a;
	font-size: 13px;
}

.stats-title img {
	
}

.stats-content {
	padding: 0 10px 5px 0;

}

.stats-content .per-stats {
	padding: 8px 0 8px 0;
	color: #7c7c7c;
}

.stats-content .per-stats .stats-results {
	margin-left: 100px;
}

.view-more-stats {
	position: absolute;
	bottom: 10px;
	right: 0;
	font-weight: bold;
	color: #7c7c7c !important;
}